li {
  line-height: 50px;
  font-size: 20px;
}

img {
  width: 45%;
  height: 45%;
  float: right;
  border-radius: 50%;
}

@keyframes change-color{
  50% { color:black;}
  50% { color:red;}
 }

#timer {
  animation-name:change-color;
  animation-duration: 1s;
  animation-iteration-count:40;
  animation-delay: 40s;
  color:black;
  font-size: 80px;
  padding-left: 70px;

}

button{
 margin-left: 95px; 
 width: 110px;
 background-color: rgb(24, 26, 26);
 color:ghostwhite;
 border: none;

}


.countdown {
  float: right;
  padding-right: 75px;
}
.container {
  position: absolute;
  width: 50%;
}

h3 {
  padding-right: 90px;
}

.lead {
  margin-top: 20px;
}
